---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GEOCODING_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 04:51:57 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API&exclude=minutely&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591678316,"sunrise":1591615917,"sunset":1591669595,"temp":52.02,"feels_like":47.28,"pressure":999,"humidity":53,"dew_point":35.44,"uvi":9.2,"clouds":74,"wind_speed":3,"wind_deg":10,"wind_gust":10,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1591675200,"temp":52.02,"feels_like":36.61,"pressure":999,"humidity":53,"dew_point":35.44,"clouds":74,"wind_speed":21.97,"wind_deg":22,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1591678800,"temp":53.64,"feels_like":38.95,"pressure":1004,"humidity":51,"dew_point":35.96,"clouds":76,"wind_speed":20.83,"wind_deg":19,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1591682400,"temp":52.95,"feels_like":37.53,"pressure":1008,"humidity":49,"dew_point":34.34,"clouds":80,"wind_speed":21.68,"wind_deg":9,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1591686000,"temp":51.46,"feels_like":36.37,"pressure":1011,"humidity":55,"dew_point":35.85,"clouds":98,"wind_speed":21.5,"wind_deg":348,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.77}},{"dt":1591689600,"temp":47.3,"feels_like":33.1,"pressure":1012,"humidity":64,"dew_point":35.76,"clouds":100,"wind_speed":19.91,"wind_deg":5,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1h":1.91}},{"dt":1591693200,"temp":47.16,"feels_like":36.79,"pressure":1013,"humidity":61,"dew_point":34.77,"clouds":100,"wind_speed":12.73,"wind_deg":352,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":[...]
[...]
