---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY&per_page=1&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY&page=668&per_page=1&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY&page=2&per_page=1&query=denver>;
        rel="next"
      X-Total:
      - '668'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":668,"total_pages":668,"results":[{"id":"tjoxkIODoCE","created_at":"2018-12-30T03:02:24-05:00","updated_at":"2020-06-07T01:12:48-04:00","promoted_at":null,"width":5472,"height":3648,"color":"#151613","description":null,"alt_description":"aerial
        photo of city","urls":{"raw":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDY2Mn0","full":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDY2Mn0","regular":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDY2Mn0","small":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDY2Mn0","thumb":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDY2Mn0"},"links":{"self":"https://api.unsplash.com/photos/tjoxkIODoCE","html":"https://unsplash.com/photos/tjoxkIODoCE","download":"https://unsplash.com/photos/tjoxkIODoCE/download","download_location":"https://api.unsplash.com/photos/tjoxkIODoCE/download"},"categories":[],"likes":58,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"3NS5bv8kZU4","updated_at":"2020-05-23T20:55:17-04:00","username":"theadventurebitch","name":"Cassie
        Gallegos","first_name":"Cassie","last_name":"Gallegos","twitter_username":"adventure_bitch","portfolio_url":"Https://www.theadventurebitch.com","bio":"Personal
        Instagram: @TheAdventureBitch\r\nPhotography Instagram: @TejasPrints","location":"Denver,
        CO","links":{"self":"https://api.unsplash.com/users/theadventurebitch","html":"https://unsplash.com/@theadventurebitch","photos":"https://api.unsplash.com/users/theadventurebitch/photos","likes":"https://api.unsplash.com/users/theadventurebitch/likes","portfolio":"https://api.unsplash.com/users/theadventurebitch/portfolio","following":"https://api.unsplash.com/users/theadventurebitch/following","followers":"https://api.unsplash.com/users/theadventurebitch/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Theadventurebitch","total_collections":5,"total_likes":0,"total_photos":17,"accepted_tos":true},"tags":[{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images & Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","created_at":"2018-10-15T04:58:20-04:00","updated_at":"2020-05-14T01:16:30-04:00","promoted_at":"2018-10-15T08:23:00-04:00","width":4640,"height":3480,"color":"#989EAF","description":"lost
        in the sky","alt_description":"star in space","urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.u[...]
